




<div class="video-container">
  <img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1681598040/young-woman-chef-retro-style-clothes-cooking-holding-cook-book-her-hand-kitchen-room-146691020_ble1go.jpg" alt="Descrição da imagem">

  <div class="search-form">
    <%= form_with url: recipes_path, method: :get, class: "form-inline" do |f| %>
      <%= f.text_field :query, placeholder: "Search for a recipe", class: "form-control mr-sm-2" %>
      <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</div>



<div class="row mt-3">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag recipe[:image], class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= recipe[:name] %></h5>
          <p class="card-text"><%= recipe[:source] %></p>
          <%= link_to "View recipe", recipe[:url], class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    margin-bottom: 20px;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    .search-form {
      padding: 10px;
    }
  }
</style>
