


<div class="image-container"style="margin-top: 200px;">
  <img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1681677785/woman-cooking-tasting-food_yyqnkv.webp" alt="Pesquise agora as melhores receitas e salve no seu plano para aproveitar momentos com a família enquanto cozinha">

  <div class="search-form container-fluid">
    <%= form_with url: recipes_path, method: :get, class: "form-inline" do |f| %>
      <%= f.text_field :query, placeholder: "Search for a recipe", class: "form-control mr-sm-2" %>
      <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<div class="recipes-container container mt-5-n5">
  <div class="row mt-3">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag recipe[:image], class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= recipe[:name] %></h5>
            <p class="card-text"><%= recipe[:source] %></p>
            <%= link_to "View recipe", recipe[:url], class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<style>




.image-container img {
  max-height: 100%;

}


.search-form {
  position: absolute;
  top: calc(50% + 200px); /* Ajuste o valor conforme necessário */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  background-color: green ;
}


.card {
  max-width: 400px;
  margin: 0 auto;
}

.card-img-top {
  max-height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 0.5rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.recipes-container {
  margin-top: 100px;
}
</style>
