

<% @recipes.each do |recipe| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= recipe['label'] %></h5>
      <p class="card-text"><%= recipe['ingredientLines'].join(', ') %></p>
      <a href="<%= recipe['url'] %>" target="_blank" class="btn btn-primary">View Recipe</a>
      <button data-action="click->meal-plan-recipe#save">
              data-meal-planning-id="<%= @meal_planning.id %>"


<%= form_tag meal_plan_recipes_path, method: :post do %>
  <%= hidden_field_tag :meal_planning_id, @meal_planning.id %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>
  <%= submit_tag "Adicionar à lista de receitas" %>
<% end %>






<button data-action="click->save-recipe#save"
        data-save-recipe-meal-planning-id="<%= @meal_planning.id %>"
        data-save-recipe-recipe-id="<%= @recipe.id %>"
        class="btn-save-recipe">
  Salvar Receita
</button>

<%= link_to "Add to meal plan", add_to_meal_plan_recipe_path(@recipe), class: "btn btn-primary" %>
